<div class="container">
<%= render @post %>
  <div>
    <%= link_to "Back to posts", posts_path %>
    
    <% if current_user == @post.user %>
        <div class="button-group">
          <%= link_to "Edit post", edit_post_path(@post) %>
          <%= button_to "Delete Post", @post, class:"btn btn-danger", method: :delete %>
        </div>
<% end %>

    <%# <%= button_to "Destroy this post", @post, method: :delete %> 
  </div>
</div>

<div class="container">
<%# passing @post.comments.build to give us the comment.%>
  <%= render 'comments/form', 
      post: @post, 
      comment: @post.comments.build,
       submit_label: "Reply" 
  %>
  
<%# to render the comment. The @comment is defined in the post controller.%>
  <% @comments.each do |comment| %>
   <%= render 'comments/comment', 
       post: @post, 
       comment: comment
    %>
  <% end %>
</div>


